<div class="footer">
    <ul>
        <li><a href="https://twitter.com/frknsprnl" target="_blank"><ng-icon name="featherTwitter"
                    class="footer-li"></ng-icon></a></li>
        <li><a href="https://github.com/frknsprnl" target="_blank"><ng-icon name="octMarkGithub"
                    class="footer-li"></ng-icon></a></li>
        <li><a href="https://www.linkedin.com/in/furkansupurenel/" target="_blank"><ng-icon name="featherLinkedin"
                    class="footer-li"></ng-icon></a></li>
        <li><a href="https://www.instagram.com/frknsprnl/" target="_blank"><ng-icon name="featherInstagram"
                    class="footer-li"></ng-icon></a></li>
        <li><a href="https://steamcommunity.com/id/StreaksWild/" target="_blank"><ng-icon name="bootstrapSteam"
                    class="footer-li"></ng-icon></a></li>
    </ul>
    <div class="developer-text">
        <span>Built by: &nbsp;&nbsp;</span>
        <a class="developer" href="https://github.com/frknsprnl" target="_blank">@frknsprnl</a>
    </div>
</div>