<div class="left-links">
    <ul>
        <li><a href="https://twitter.com/frknsprnl" target="_blank"><ng-icon name="featherTwitter"
                    class="left-links-li"></ng-icon></a></li>
        <li><a href="https://github.com/frknsprnl" target="_blank"><ng-icon name="octMarkGithub"
                    class="left-links-li"></ng-icon></a></li>
        <li><a href="https://www.linkedin.com/in/furkansupurenel/" target="_blank"><ng-icon name="featherLinkedin"
                    class="left-links-li"></ng-icon></a></li>
        <li><a href="https://www.instagram.com/frknsprnl/" target="_blank"><ng-icon name="featherInstagram"
                    class="left-links-li"></ng-icon></a></li>
        <li><a href="https://steamcommunity.com/id/StreaksWild/" target="_blank"><ng-icon name="bootstrapSteam"
                    class="left-links-li"></ng-icon></a></li>
    </ul>
</div>