.about-wrapper {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  scroll-margin-block-start: 85px;
}

.about-div {
  display: flex;
  height: 100%;
  margin-top: 1.8rem;
}

.about-desc {
  margin: 0 auto 0 0;
  width: 100%;
}

.about-desc > p {
  color: #8892b0;
  font-size: 1.2rem;
}

.tech {
  color: #8892b0;
  list-style: none;
  max-height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.tech li::before {
  content: "• ";
  color: #71f3da;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.img-div {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.about-img {
  width: 20rem;
  margin: 0 auto;
  border: 1.6px dashed #71f3da;
  border-radius: 999rem;
  transition-duration: 1000ms;
}

.about-img:hover {
  background-color: #64ffda1a;
  transform: translateY(-20px);
}

@media (max-width: 1024px) {
  .about-wrapper {
    width: 80%;
  }

  .about-div {
    flex-direction: column;
  }

  .img-div {
    margin: 0 auto;
    order: -1;
  }

  .about-desc > p {
    font-size: 1rem;
  }

  .about-img {
    width: 12rem;
  }
}

@media (max-width: 768px) {
  .about-wrapper {
    width: 90%;
  }
}
