<section class="projects-wrapper" id="projects">
    <h2 class="heading">Some Things I've Built</h2>
    <div class="projects-div">
        <h2 class="projects-header">Featured Project</h2>
        <a href="https://thecoffeeshopfs.netlify.app" class="projects-name">The Coffee Shop</a>
        <img src="../../assets/thecoffeeshop.png" alt="the coffee shop project img" class="projects-img">
        <div class="projects-desc-div">
            <p class="projects-desc">
                You can register, log in, add products to cart, simulate the payment, edit your profile, contact, read
                the blogs.
            </p>
        </div>
        <ul class="projects-tech">
            <li>React JS</li>
            <li>Tailwind</li>
            <li>MongoDB</li>
            <li>Vite</li>
        </ul>
        <div class="projects-links">
            <a href="https://github.com/frknsprnl/coffee-shop" target="_blank" class="projects-icon">
                <ng-icon name="octMarkGithub"></ng-icon>
            </a>
            <a href="https://thecoffeeshopfs.netlify.app/" target="_blank" class="projects-icon">
                <ng-icon name="featherExternalLink"></ng-icon>
            </a>
        </div>
    </div>

</section>