<section class="projects-wrapper" id="projects">
    <h2 class="heading">Some Things I've Built</h2>
    <div class="projects-div" *ngFor="let project of projects">
        <h2 class="projects-header">Featured Project</h2>
        <a href="{{project.link}}" target="_blank" class="projects-name">{{project.name}}</a>
        <a href="{{project.link}}" target="_blank">
            <img src="../../assets/{{project.img}}" alt="the coffee shop project img" class="projects-img">
        </a>
        <div class="projects-desc-div">
            <p class="projects-desc">
                {{project.desc}}
            </p>
        </div>
        <ul class="projects-tech">
            <li *ngFor="let tech of project.tech">{{tech}}</li>
        </ul>
        <div class="projects-links">
            <a href="{{project.github}}" target="_blank" class="projects-icon" *ngIf="project.github">
                <ng-icon name="octMarkGithub"></ng-icon>
            </a>
            <a href="{{project.link}}" target="_blank" class="projects-icon">
                <ng-icon name="featherExternalLink"></ng-icon>
            </a>
        </div>
    </div>
    <a href="https://github.com/frknsprnl" target="_blank" class="projects-more">For other projects → </a>

</section>