<section class="intro-wrapper">
    <h3 class="intro-hello">Hi, my name is</h3>
    <h1 class="intro-name">Furkan Supurenel.</h1>
    <h1 class="intro-title">Front-end Developer.</h1>
    <p class="intro-desc">
        I'm a software engineer, I am always eager to experience new opportunities and come up with new ideas. I'm a fast learner who never stops learning. Currently, I am focused on building accessible, human-centered <span class="highlight">products.</span>
    </p>
    <a href="#contact" class="intro-btn">
        Get In Touch
    </a>
</section>