.contactWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  scroll-margin-block-start: -100px;
  margin-top: 10rem;
}

.contactHeading {
  font-size: 2.5rem;
  color: #ccd6f6;
  margin: 10px 0 0;
}

.contactText {
  font-family: "Mukta", sans-serif;
  font-size: 1.25rem;
  width: 60%;
  text-align: center;
  color: #8892b0;
  font-weight: 300;
}

.contactBtn {
  font-size: 0.9rem;
  color: #71f3da;
  padding: 1rem 1.5rem;
  border: 1.6px dashed #71f3da;
  border-radius: 8px;
  font-weight: 300;
  background-color: transparent;
  margin: 0 auto;
  margin-top: 2rem;
  transition-duration: 700ms;
  text-decoration: none;
}

.contactBtn:hover {
  background-color: #64ffda1a;
}

@media (max-width: 1024px) {
  .contactWrapper {
    width: 80%;
    height: 70%;
  }

  .contactText {
    width: 100%;
  }

  .contactHeading {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .contactWrapper {
    width: 90%;
  }
}

