.projectsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  scroll-margin-block-start: 100px;
  margin-top: 4rem;
}

.projectsDiv {
  height: 20rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-top: 50px;
  padding: 2rem 0;
}

.projectsHeader {
  position: absolute;
  top: 0;
  right: 10%;
  color: #71f3da;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 0 auto;
  transition-duration: 1000ms;
}

.projectsName {
  position: absolute;
  top: 8%;
  right: 10%;
  font-size: 1.75rem;
  color: #ccd6f6;
  transition-duration: 1000ms;
  margin: 10px 0 10px auto;
  text-decoration: none;
}

.projectsName:hover {
  color: #71f3da;
}

.projectsImg {
  height: 16rem;
  width: 32rem;
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}

.projectsDescDiv {
  background-color: #112240;
  padding: 0rem 1.8rem;
  position: absolute;
  top: 25%;
  right: 10%;
  width: 26rem;
  height: 9rem;
  border-radius: 8px;
  box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
  display: flex;
}

.projectsDesc {
  font-family: "Mukta", sans-serif;
  color: #8892b0;
  font-size: 1.15rem;
  margin: auto;
  text-align: center;
}

.projectsTech {
  position: absolute;
  bottom: 24%;
  right: 10%;
  display: flex;
  gap: 1.4rem;
  justify-content: space-evenly;
  list-style-type: none;
  color: #8892b0;
}

.projectsLinks {
  position: absolute;
  bottom: 16%;
  right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.projectsIcon {
  color: #ccd6f6;
  transition-duration: 1000ms;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(2);
}

.projectsIcon:hover {
  color: #71f3da;
}

.projectsMore {
  margin: 0 auto 0 0;
  text-decoration: none;
  font-size: 1.2rem;
  color: #ccd6f6;
  transition-duration: 1000ms;
}

.projectsMore:hover {
  color: #71f3da;
}

@media (max-width: 1024px) {
  .projectsWrapper {
    width: 80%;
  }

  .projectsHeader {
    right: 5%;
  }

  .projectsName {
    right: 5%;
  }

  .projectsDescDiv {
    width: 16rem;
    right: 5%;
  }

  .projectsDesc {
    font-size: 1rem;
  }

  .projectsLinks {
    right: 5%;
  }

  .projectsTech {
    font-size: 0.8rem;
    right: 5%;
  }

  .projectsImg {
    display: none;
  }

  .projectsMore {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .projectsWrapper {
    width: 90%;
  }
}

